<div *ngIf="this.jokes;then ask else show"></div>
<ng-template #ask>
    <p>Ingrese texto (en inglés porfa) que debería estar dentro de los chistes que se espera obtener.</p>
    <app-searchbox (submitQuery)="searchJokes($event)"></app-searchbox>
</ng-template>
<ng-template #show>
    <table>
        <thead>
            <tr>Image</tr>
            <tr>Joke</tr>
        </thead>
        <tbody>
            <td *ngFor="let joke of jokes">
                <img src={{joke.icon_url}} alt="No hay Chuck :(">
                <b><i>{{joke.value}}</i></b>
            </td>
        </tbody>
    </table>
</ng-template>