<div class="d-flex flex-column justify-content-center align-center navbar navbar-dark bg-dark" style="position: sticky; top:0; margin:auto">
    <h1 class="center" style="margin:auto"><a href="/">Chuck Norris jokes</a></h1>
    <ul class="d-flex flex-row justify-content-evenly" style="width:100%">
        <li>
            <nav><a href="/random">Get a random joke!</a></nav>
        </li>
        <li>
            <nav><a href="/search">Search for a word</a></nav>
        </li>
    </ul>
    
</div>
